/*
Colors used:
Primary color (Red): #F75A55;
Secondary colour (Black): #222222;
*/

header {
  background-color: white;
  text-align: unset;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
  position: relative;
  border-bottom: 0px solid #222222;
  display: flex;
  justify-content: space-between;
}

.main {
  padding-top: 99px;
}

.selector {
  margin: 10 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

.selector {
  position: relative;
}

.selector {
  float: right;
}

/* Layout styling */
.container {
  padding: 0px;
  background-color: white;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.35);
  position: relative;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: left;
}

* {
  box-sizing: border-box;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

body {
  background-color: White;
  font-family: 'Roboto-light', sans-serif;
  font-size: 18px; /* sets the font size to 20px */
  font-weight: normal; /* sets the font weight to 500 */
  line-height: 1.5; /* sets the line-height to 1.5 */
  color: #222222;
  margin: 25px;
}

.hero h1 {
  margin: 0;
  padding: 0.67em 0;
  background-color: white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.5;
}
h1 {
  font-size: 2,25em;
  font-weight: 100;
#hero span {
  display: block;
}
}

h2 {
  font-size: 2.25em;
  font-weight: 100;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 50%;
}

.logo {
  max-width: 125px;
}

.button.contact {
  background-color: transparent;
  color: lightgray;
  text-transform: uppercase;
  border: 0px;
}

.button.contact:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  background-color: lightgray;
  color: #ffffff;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: lightgray;
  color: #222222; /* needed to override the default link color */
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid black; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

nav {
text-align: left;
margin: 10px 0 0 ;
padding: 0;
}

nav > ul > li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding: 0px;
}

nav a {
  font-weight: normal;
  padding: 10px 10px;
  font-size: 1em;
  text-decoration: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
}

#about-page h3 { margin-top: 0;}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 50%
}

.col-md-5 {
  width: 50%
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes {
  width 50%, max-width 50%, height: auto
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  /* ==============================
  Extra-large devices (1920px or larger)
  ================================= */
  @media only screen and (min-width: 1920px) {
  }

}


.projects {
  display: flex;
}

.project {
  padding-right: 20px;
  width: 50%;
}
